.maindiv{
	width: 100%;

	background-image: url(building.jpg);
	background-size: 100% 100%;

	margin-top: -100px;
	
	box-shadow: 1px 2px 10px 5px blue;;
	animation: slider 60s infinite linear;
}

#slidetext{





}




@keyframes slider{
	0%{background-image: url('../img/slide/background.png');

		background-repeat: no-repeat;

	}

	10%{background-image: url('../img/slide/cover.jpg');
		background-repeat: no-repeat;


		}

	20%{background-image: url('../img/slide/image.jpg');

	background-repeat: no-repeat;


}

	30%{background-image: url('../img/slide/train-2134541_1280.jpg');

	background-repeat: no-repeat;

}

	40%{background-image: url('../img/slide/srilanka-2792097_1280.jpg');

	background-repeat: no-repeat;

}

	50%{background-image: url('../img/slide/rail-road-191136_1280.jpg');

	background-repeat: no-repeat;


}

	60%{background-image: url('../img/slide/Places-To-Visit-In-Jaffna.jpg');


	background-repeat: no-repeat;

}

	70%{background-image: url('../img/slide/image3.jpg');



	background-repeat: no-repeat;


}
	
	80%{background-image: url('../img/slide/image1.jpg');


	background-repeat: no-repeat;
}

	90%{background-image: url('../img/slide/image2.jpg');



	background-repeat: no-repeat;

}

	100%{background-image: url('../img/slide/background.png');

	background-repeat: no-repeat;

}

}
